<link href="~/css/BemVindo.css" rel="stylesheet" />

<body class="fundo">

    <div class="text-center">
        <h1 class="display-4">Bem Vindo</h1>
        <a class="btn" asp-area="Identity" asp-page="/Account/Login" >Iniciar </a>
    
    </div>

</body>




@*<style>

    h1 {
        color: white;
    }

    .fundo {
    background-image: url("https://st.depositphotos.com/2069237/2231/i/450/depositphotos_22310611-stock-photo-blackboard-chalkboard-texture.jpg");
      background-repeat: no-repeat;
     
     background-attachment: fixed;
     background-size: 100% 100%;
}    
    
</style>*@